<ion-navbar *navbar>
    <ion-title>Today</ion-title>
</ion-navbar>

<ion-content class="page1">
    <ion-card>
        <div *ngIf="mainStock">
            <button id="btn-close" light fab fab-right fab-top (click)="clearStock()">
                <ion-icon name="close"></ion-icon>
            </button>
            <chart type="StockChart" [options]="mainStock.chartOption"></chart>
        </div>
        <button id="btn-add" light fab (click)="searchStock(mainStock = {})" *ngIf="!mainStock">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-card>
    <button *ngIf="mainStock" (click)="searchStock(compareStock = {})">Compare</button>
</ion-content>
