.page1 {

}

chart {
  width: calc(100% - 24px);
}

ion-card {
  height: calc(100% - 24px);
}

#btn-close {
  width: 30px;
  height: 30px;
  top: -1px;
  right: -1px;
  z-index: 50;
}

#btn-add {
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  z-index: 50;
}

button ion-icon {
  padding: 0 !important;
}