.compare {

  .item, .item-inner {
    padding: 0 !important;
  }

  ion-label {
    margin-right: 0;
  }

  ion-card {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    min-height: 350px;
  }

  #btn-close {
    width: 30px;
    height: 30px;
    top: -1px;
    right: -1px;
    z-index: 50;
  }

  .button-line {
    height: 150px;
  }

  .icon-refresh {
    font-size: 48px;
  }

}
