<ion-navbar *navbar>
    <ion-title>Compare</ion-title>
    <ion-buttons end>
        <button (click)="addCompares()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content class="compare">
    <ion-list no-lines>
        <ion-item card-item *ngFor="#compare of compares">
            <ion-card>
                <button id="btn-close" light fab fab-right fab-top (click)="removeCompare(compare)">
                    <ion-icon name="close"></ion-icon>
                </button>
                <ion-list>
                    <ion-item card-item *ngFor="#stock of compare.stocks">
                        <ion-card-header>{{ stock.name }}</ion-card-header>
                        <chart *ngIf="stock.chart" type="StockChart" [options]="stock.chart"></chart>
                    </ion-item>
                </ion-list>
                <ion-item class="button-line">
                    <button class="btn-add" large light fab (click)="addStock(compare)">
                        <ion-icon name="add"></ion-icon>
                    </button>
                </ion-item>
                <button (click)="refresh(compare)">
                    <ion-icon name="refresh"></ion-icon>
                </button>
            </ion-card>
        </ion-item>
    </ion-list>

</ion-content>
